*{
	margin: 0;
	padding:  0;
	box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
	font-size: 15px;
	position: relative;
}

body{
	background-color: #DCDCDC; /*This is for the bacground colour of the webpage*/
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden; /*This is to hide teh scroll bar at the bottom*/
	position: relative;
}
.header{
    width: 100%;
    height: 70px;
	position: fixed;
    background-color: #042331;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.header h1{
    line-height: 70px;
    color: white;
        
}

.content{
    width: 100%;
    margin-top: 70px;
    float: right;
	transition: 0.7s;
}

.content p{
    text-align: left;
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 70px;
    background-color: #353b48;
    left: -100%;
    transition: 0.7s;
    overflow: auto;
}

.sidebar header{
    font-size: 22px;
    height: auto;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
    
}

#check{
    display: none;
    
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
    
    
}

label #btn{
    left: 50px;
    top: 15px;
    font-size: 30px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
    position: fixed;
    
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 15px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
    position: fixed;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~label #cancel{
    left: 195px;
    opacity: 1;
}

#check:checked ~.content{
    width: 80%;
}

.sidebar ul ul{display: none;}

.sidebar ul li:hover ul{
    display: block;
}

.sidebar ul ul a:before{
    content: '\285A';
    margin-right: 20px;
}

.sidebar .sub-arrow:after{
    content: '\203A';
    float: right;
    margin-right: 20px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.sidebar li:hover .sub-arrow:after{
    content: '\2039';
}

@media(max-width:786px){ 
	
	.sidebar{ /* This is for when the webpage is made smaller it makes the navigation bar take up the whole width of teh screen*/
		width: 100%;
		text-align: center;
	}
}

.slideshow{ /*this is the code from my slideshow*/
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: black;
	z-index: -1; /* This helps put the slideshow behined the navigation bar when the webpage is made smaller */

}

.slideshow-item{
	width: inherit;
	height: inherit;
	position: absolute;
	opacity: 0;
	animation: cycleImages 31s infinite;
}

.slideshow-item img{ /*this is for the images in the slideshow*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	animation: zoom 31s infinite; /*this is how it will transition*/
}

.slideshow-item:nth-child(1), .slideshow-item:nth-child(1) img{ 
	animation-delay: 0s;
}

.slideshow-item:nth-child(2), .slideshow-item:nth-child(2) img{
	animation-delay: 10s;
}

.slideshow-item:nth-child(3), .slideshow-item:nth-child(3) img{
	animation-delay: 20s;
}


.slideshow-item-text{
	max-width: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-color: rgba(0,0,0,.8);
	color: #fff;
	padding: 10rem 5rem;
}

.slideshow-item-text h5{
	font-size: 5rem;
	font-family: 'Railway', sans-serif; /*this is for the font of the heading*/
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 2.5rem;
}

.slideshow-item-text p{
	font-size: 18px; /*this is the font size of the letters in the pargarph*/
	font-family: 'Roboto', sans-serif; /*this is the font of the paragraphs in the slideshow*/
	letter-spacing: 1px;
	font-weight: 100;
	line-height: 25px;
}
@keyframes cycleImages{
	25%{
		opacity: 1;
	}
	
	40%{
		opacity: 0;
	}
}

@keyframes zoom{
	100%{
		transform: scale(1.3);
	}
}

@media screen and (max-width: 767px){
	.slideshow-item-text{
		max-width: 100%;
		padding: 2rem;
		top: initial;
		bottom: 0;
		transform: initial;
	}
	
	.slideshow-item-text h5{
		font-size: 3rem;
	}
	
	.slideshow-item-text p{
		font-size: 1.4rem;
	}
}

.footer{ /*this my code for the footer*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 60%;
    background-color: #042331;
    color: white;
}

.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h3{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .footer-content{
   margin: 20px 0 0 0;
	height: 100%;
    
}

.left .footer-content p{
	font-size: 17px;
    text-align: justify;
}



.left .footer-content .social{
    margin: 20px 0 0 0;
}

.left .footer-content .social a{
    padding: 0 2px;
}

.left .footer-content .social a span{
    height: 40px;
    width: 40px;
    background:  #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
}

.left .footer-content .social a span:hover{
    background: #f12020;
}

.center{
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 8%;
	margin-top: 0%;
}

.place{
	margin-top: -32%;
	margin-left: -3%;
}

.phone{
	margin-top: -27%;
	margin-left: 10%;
}

.email{
	margin-top: -32%;
	margin-left: -20%;
}

.myphone{
	margin-top: -49%;
	margin-left: -125%;
}

.footer-bottom{ /*this is for the bottom part of the footer which is the black part*/
	width: 100%;
	height: 35px;
	margin: auto;
	background:  #1a1a1a;
}

.footer-bottom p{ /*this is to adjust the pargraphs*/
	text-align: center;
	color: white;
	font-size: 130%;
}


.text-part{
    width: 65%;
    font-family: Audiowide;
    font-size: 10px;
    font-family: cursive;
}

/*these are to set the h1, h2, h3 img and paragraph*/

h1{
    text-align: center;
    font-size: 50px;
}

p{
font-size: 18px;
	text-align: right;
	line-height: 35px;
}

h2{
    text-align: left;
    font-size: 25px;
}

h3{
    font-size: 35px;
	text-align: center;
}

.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#container{
    max-width: 100%;
	background-color: white;
    color: black;
	padding: -0.5%;
	margin-left: 25%;
	margin-right: 35%;
    margin-top: 10%;
	height: 190%;
	float: center;
    border: 1px solid white;
	width: 100%;
}


#container1{
	max-width: 70%;
	background-color:#DCDCDC;
    color: black;
    border-bottom-style: none;
    border-top-style: none;
	padding: 40px;
	margin-left: auto;
	margin-top: -3%;
	margin-right: auto;
	height: 80%;
	float: center; /*This is a comment about how this code is used to decorate container 1 Iused this to align the text on the page*/
	width: 70%;
}

#container3{
	max-width: 100%;
	background-color:#DCDCDC;
    color: black;
    border-bottom-style: none;
    border-top-style: none;
	padding: 40px;
	margin-left: auto;
	margin-top: -3%;
	margin-right: auto;
	height: 80%;
	float: center; /*This is a comment about how this code is used to decorate container 3*/
	width: 100%;
}

#container2{
	max-width: 50%;
	background-color: #DCDCDC
    color: black;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10%;
	margin-bottom: 1%;
	height: 1%;
	float: center; /*This is a comment about how this code is used to decorate container 2*/
}

#container4{
	max-width: 100%;
	background-color:#DCDCDC;
    color: black;
    border-bottom-style: none;
    border-top-style: none;
	padding: 40px;
	margin-left: 25%;
	margin-top: -5%;
	margin-right: auto;
	height: 80%;
	float: center; /*This is a comment about how this code is used to decorate container 4. I used this to align the logo with the text*/
	width: 100%;
}

.container5{
  position: static;
  width: 50%;
  max-width: 45%;
	background-color: #DCDCDC
    color: black;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10%;
	margin-bottom: 1%;
	height: 1%;
	float: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: static; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container5:hover .overlay {
  opacity: 1;
}
